/*Block needed for the countdown*/
	.countdown-container{
		display: flex;
		flex-direction: column;

		width: fit-content;
		gap: 0.5em;

		padding-inline: 1em;
		padding-block: 0.25em;
		border: solid 3px #fff8;

		border-radius: 6em;

		background-color: #bbf5;
		backdrop-filter: blur(8px);

		box-shadow: 0px 5px 8px #0006;
		font-weight: 900;

	}

	.countdown{
		font-weight: 900;
		width: fit-content;
		margin-inline: auto;
	}
/*end of block*/