*,*::before,*::after{
    margin: 0;
    padding: 0;
    border: 0;
    /* width: 100%; */
    background: transparent;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
    color: #ffffff;
  }
  
  h1,h2,h3,h4,h5,h6,p,span,strong,a,li,ol,ul,menu,button,.md-txt {
      font-family: "Poppins", sans-serif;
      font-weight: inherit;
      font-style: oblique;
      line-height: inherit;
      letter-spacing: inherit;
      text-decoration: none;
      list-style: none;
      text-align: center;
      font-weight: 700;
      font-size: clamp(20px, 1vw, 28px);
  }
  
  .sm-txt{
      font-size: 14px;
  }
  
  
  footer, main, header{
      max-width: 100%;
      
      text-align: center;
      font-weight: 700;
  }
  
  footer, main, header{
      max-width: 100%;
      
  }
  
  img, svg, video, canvas, audio, iframe, embed, object {
      display: block;
  }
  
  img, video {
      max-width: 100%;
      height: auto;
  }
  
  button,input,select,textarea,optgroup {
      font: inherit;
      color: inherit;
      letter-spacing: inherit;
      text-transform: inherit;
      outline: none;
  }
  
  button {
      border: none;
      cursor: pointer;
  }
  
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  
  td, th {
      padding: 0;
      text-align: initial;
      vertical-align: middle;
  }
  
  a {
      color: inherit;
      text-decoration: none;
  }
  
  h1,h2,.xxl-txt{
      font-size: clamp(30px, 3vw, 43px);
      font-weight: 900;
      font-style: oblique;
  
  }
  
  h3,h4,h5,h6,.countdown,.lg-txt{
      font-weight: 900;
      font-size: clamp(22px,2vw,36px);
      font-style: oblique;
  }
  
  
  
  @media screen and (min-width:1000px){
    header,main,footer{
      padding-inline: clamp(24px,8vw,800px);
    }
  }