 .Slider {
  position: relative;
  max-width: 100vw;
  margin: auto;
  width: 100%;
  overflow: hidden;
  height: 700px;
}

.Slider-wrapper {
  overflow: hidden;
}

.Slider-in {
  display: flex;
  position: absolute;
  width: 100%;
  top: 190px;
  gap: 3em;
  transition: transform 0.6s ease;
  align-items: center;
}

#slider div {
  flex-shrink: 0;
  width: 100%;
  transition: all 1.5s ease;
  opacity: 0.5;
  transform: scale(0.8);
}

#slider img {
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
}

#slider .active {
  opacity: 1;
  display: flex;
  filter: blur(0);
  transform: scale(1);
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  position: absolute;
  top: 48%;
  width: 70%;
  left: 13%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

#prev,
#next {
  color: black;
  background: rgba(255, 255, 255, 0.172);
  backdrop-filter: blur(20px);
  width: 100%;
  width: 3.5em;
  height: 3.5em;
  align-items: center;
  display: flex;
  border: 3px solid #48ff00;
  border-radius: 999px;
  justify-content: center;
  box-shadow: 0 0px 5px 0px #000000;
}

